.manager-container{
    background-color: #fff;
    padding: 24px;
    border-radius: 24px;
  }

  .manager-container .btn-primary{
    max-width: 150px;
  }
  .add-employee-button {
    min-width: 180px;
  }


.import-modal button.ant-btn-primary,
.confirm-modal button.ant-btn-primary,
.add-currency-modal button.ant-btn-primary {
  font-family: "Gilroy-medium";
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
  min-height: 42px;
  border-radius: 32px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  min-width: 118px;
}

.import-modal button.ant-btn-default,
.confirm-modal button.ant-btn-default,
.add-currency-modal button.ant-btn-default{
  font-family: "Gilroy-medium";
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  color: #6f767d;
  border: none;
  box-shadow: none;
  min-height: 42px;
  min-width: 118px;
}

.import-modal button.ant-modal-close:hover,
.confirm-modal button.ant-modal-close:hover,
.add-currency-modal button.ant-modal-close:hover {
  background: none;
}
