.table-top {
  margin: 24px 0;
  align-items: center;
}

.table-top h1 {
  font-size: 26px;
  font-weight: 300;
  color: #6f767d;
}

.table-top h1 span {
  font-weight: 500;
  color: #0f1b25;
  font-family: "Gilroy-Medium";
}

.gap-16 {
  gap: 16px;
}

.data-card {
  /* display: flex; */
  align-items: center;
  gap: 16px;
  padding: 24px;
  /* background-color: #ffffff; */
}

.border-r-24 {
  border-radius: 24px;
}

.data-card h4 {
  color: #0f1b25;
  font-size: 28px;
  font-weight: 500;
  font-family: Gilroy-medium;
}

.country-data-card {
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  border-radius: 24px;
  background-color: #fff;
}

.country-data-card .data-head p {
  color: #6f767d;
  font-size: 20px;
  font-weight: 600px;
}

.country-data-card .data-head h6 {
  font-family: "Gilroy-medium";
  color: #0f1b25;
  font-size: 26px;
  font-weight: 500;
}

.country-data-card .country-data:not(:nth-last-child(2)) {
  border-bottom: 1px solid #f3f4f4 !important;
}

.country-data-card .country-data {
  padding: 16px 0;
}

.country-data-card .country-data p {
  font-size: 14px;
  font-weight: 400;
  color: #718ceb;
  /* height: 25px; */
  border-radius: 29px;
  padding: 4px 16px;
  background-color: #f1f4fd;
  text-align: center;
  display: flex;
}

.country-data-card .country-data h6 {
  color: #0f1b25;
  font-size: 18px;
  font-weight: 400;
}

.data-card {
  position: relative;
}

.overlay-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bordered {
  width: 100%;
}

.bordered th,
.bordered td {
  padding: 8px 12px;
}

.bordered th:first-child,
.bordered td:first-child {
  padding-left: 16px;
}

.bordered th:last-child,
.bordered td:last-child {
  padding-right: 16px;
}

.color-blue {
  background-color: #118ab2;
}

.color-orange {
  background-color: #f75c03;
}

.color-green {
  background-color: #00a760;
}

.rectangles-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  height: 100%;
  justify-content: space-evenly;
}

.rectangle {
  width: 100%;
  height: 32px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.rectangle-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-above {
  color: var(--60-black, #848484);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 10px;
}

.percentage_current .percentage_proposed .percentage_UK {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.percentage_current {
  color: var(--Primary, #118ab2);
}
.percentage_proposed {
  color: var(--button, #f75c03);
}
.percentage_UK {
  color: var(--green, #00a760);
}

.percentage-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.table-header {
  color: var(--60-black, #848484);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.gender-table {
  width: 75%;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  font-size: 14px;
  font-weight: 600;

  color: var(--black, #0f1b25);
}

.data-head {
  display: flex;
}

.bordered th,
.bordered td {
  border-bottom: 1px solid #f3f4f4;
}

.black-60 {
  color: #848484;
}

.font-size-18 {
  font-size: 18px;
  line-height: 27px;
}

.table-py tr td,
.padding-y-2 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.border-top {
  border-top: transparent !important;
}

.border-bottom {
  border-bottom: 1px solid #F3F4F4 !important;
}

.mx-10px {
  margin-left: 11px;
  margin-right: 11px;
}

.gender-pay-card {
  width: 100%;
  height: 100%;
  padding: 36px 24px;
  border-radius: 24px;
  background-color: #fff;
}

.col-g-8 {
  width: 65%;
}

.col-g-4 {
  width: 35%;
}

@media screen and (min-width: 50px) and (max-width: 992px) {
  .col-g-8 {
    width: 100%;
  }

  .col-g-4 {
    width: 100%;
  }
}

.insight-analysis-table .range-table.ant-table-wrapper .ant-table-thead >tr>th, .insight-analysis-table.ant-table-wrapper .ant-table-thead >tr>td {
  position: relative;
  color: #848484;
  text-align: start;
  background: transparent !important;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  border-left: transparent;
}

.insight-analysis-table .range-table.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    width: 1px;
    height: 1.6em;
    background-color: transparent !important;
    transform: translateY(-50%);
    content: "";
}

.insight-analysis-table .range-table.ant-table-wrapper .ant-table-tbody  .ant-table-row >.ant-table-cell-row-hover {
  background: transparent !important;
}
