.center-screen-ant {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Define the animation */
@keyframes slideIn {
    from { opacity: 0; transform: translateY(50px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Apply the animation */
.animated-text-ant {
    animation: slideIn 1.5s ease-out forwards;
  }

